@import url("../../node_modules/react-keyed-file-browser/dist/react-keyed-file-browser.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

button[type=submit]
{ 
  border: 0.15em solid rgba(255, 255, 255, 0);
  background-color: rgb(182, 94, 94);
  border-radius: 0.3em;
  text-decoration: none;
  color: #c40909;
  text-align: center;
  transition: all 0.2s;
  display: block;
  margin: 1px 0px;
  font-size: 13px;
}

button[type=submit]:hover{
  outline: 0.11em solid #c40909;
  cursor:pointer;
}

button.deleting
{
  border: 0.15em solid rgba(255, 255, 255, 0);
  background-color: rgb(182, 94, 94);
  border-radius: 0.3em;
  text-decoration: none;
  color: #c40909;
  text-align: center;
  transition: all 0.2s;
  display: block;
  margin: 1px 0px;
  font-size: 13px;
}

button.deleting:hover{
  outline: 0.11em solid #c40909;
  cursor:pointer;
}

input[type=search]{
  background-color: black;
  color: white;
  opacity: 90%;
  font-size:'Roboto Mono', monospace;
  font-size: 19px;
}

div.rendered-react-keyed-file-browser div.files table th, div.rendered-react-keyed-file-browser div.files table td{
  font-weight: 300;
}

div.rendered-react-keyed-file-browser div.files table tr.selected td {
  font-weight: normal;
}

div.rendered-react-keyed-file-browser div.files table tr.selected td.name:after 
{
  background: rgb(82, 190, 136);
}

div.rendered-react-keyed-file-browser div.files table thead th {
    border-bottom: 1px solid grey; 
}

div.rendered-react-keyed-file-browser div.files table tr:not(:last-child) td {
    border-bottom: 1px solid grey; 
}

div.rendered-react-keyed-file-browser div.action-bar input[type="search"] {
    border: 1px solid grey; 
  }

div.rendered-react-keyed-file-browser div.files table tr.dragover td, div.rendered-react-keyed-file-browser div.files table tr.dragover th {
  color: black ;
}